langchain==0.1.17
pydantic==2.7.1
openai==1.25.0
python-dotenv==1.0.1
fastapi==0.110.3
uvicorn==0.29.0
mysqlclient==2.2.4
pytz==2024.1
langfuse==2.28.0
langchain-openai==0.1.6
gradio==4.29.0
socksio==1.0.0