@tailwind base;
@tailwind utilities;
.chat-title-item:hover {
  .chat-title-item-action {
    display: block;
  }
}
.list-item-text-overflow {
  & > span {
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: keep-all;
  }
}
body {
  scrollbar-color: transparent;
}
.custom-scrollbar {
  scrollbar-width: thin !important;
}
.chat-size {
  margin: auto;
  max-width: max(80%, 800px);
  width: 100%;
}
